@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@200;300;400;500;600;700;800&display=swap");

.signin-left {
    background: url("../images/regis-polos.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: "Oxanium", cursive;
}

.signin-left h1 {
    background: #ed0002;
    color: #fff;
    font-weight: 700;
    padding: 10px;
    border-radius: 10px;
    width: 350px;
    margin: 15px auto;
}

.signin-left h2 {
    color: #000000;
    font-weight: 700;
    margin-bottom: 25px;
}

.signin-left img {
    width: 500px;
}

@media screen and (max-width: 425px) {
    .signin-left {
        display: none;
    }
}
