@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@200;300;400;500;600;700;800&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oxanium", cursive;
}

/* error page */
.header_error_container {
    position: relative;
    top: 0;
    right: 0;
    z-index: 1;
    width: 100%;
    height: 15vh;

    display: flex;
    align-items: center;

    padding-top: 25px;
    padding-bottom: 25px;
}

.header_logo {
    width: 90px;
    height: 90px;
}

.header_error_container .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu_error a {
    margin: 0;
    margin-right: 25px;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #ed0002;

    text-decoration: none;
}

.menu_error a:hover {
    text-decoration: none;
    color: #ed0002;
}

.menu_error button {
    background: #ed0002;
    border-radius: 5px;
    border: transparent;
    width: 100px;
    padding: 10px 20px;

    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;
    text-transform: uppercase;
}

.error_title h1 {
    font-weight: bold;
    font-size: 72px;
    line-height: 90px;
    color: #ed0002;
    margin: 0;
}

.error_title h3 {
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #000000;
    margin: 0;
}

.error_title h5 {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    margin: 0;
}

.error_text {
    margin-top: 50px;
}
.error_text p {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #000000;
    margin: 0;
}

.redirect-wrapper {
    text-align: center;
}

.redirect-wrapper .redirect_btn {
    background: #ed0002;
    border-radius: 5px;
    border: transparent;
    width: 350px;
    padding: 10px 20px;
    margin-top: 25px;

    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;
}

.redirect-wrapper .redirect_btn:hover {
    color: #ffffff;
    text-decoration: none;
}

@media screen and (max-width: 425px) {
    .menu_klasemen_error {
        display: none;
    }
    .error_img {
        height: 261px;
        width: 308px;
    }
    .error_text p {
        font-size: 14px;
    }
}
/* error page */

/* ==================== FOOTER ==================== */
.footer {
    /* min-height: 20vh; */
    background: #2f0000;
}

.footer_container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 50px 0;
}

.footer_container h2 {
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    color: #ffffff;
}

.footer_socmed {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.footer_socmed img {
    margin: 0 15px;
}

@media screen and (max-width: 425px) {
    .footer_container h2 {
        font-size: 18px;
        line-height: 24px;
    }

    .footer_socmed img {
        margin: 0 10px;
        width: 25px;
    }
}
