.lab-title{
    color: black;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
}

.lab-subtitle{
    color: black;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
}

.announcement-list { 
    max-width: 1200px;
    margin: 2rem 0 0 0;
    display: grid;
    grid-gap: 1rem;
}

.announcement-list .card{
    padding: 0.4rem;
    border: none;
}

.announcement-list .card-body{
    padding: 0;
    margin-top: 1rem;
}

.announcement-list .card-img-top{
    width: 270px;
    height: 200px;
    margin: 0 auto;
    object-fit: cover;
}

@media (max-width: 599px) {
    .announcement-list { justify-content: center; }
}

@media (min-width: 600px) {
    .announcement-list { grid-template-columns: repeat(2, 1fr); }
}

@media (min-width: 900px) {
    .announcement-list { grid-template-columns: repeat(3, 1fr); }
}
@media (min-width: 1366px) {
    .announcement-list { grid-template-columns: repeat(4, 1fr); }
}

.rank-table{
    transition: all 600ms;
}

.rank-table thead{ 
    text-transform: uppercase;
}

.rank-table thead tr th{
    background-color: #F49917; 
    color: #FFFFFF;
}

.rank-table tbody{
    background-color: white;
}

.rank-table td, .rank-table th{
    border: none;
}

.show-table{
    display: block;
}

#total{
    visibility: hidden;
    opacity: 0;
}

.modal-header{
    background-color: white!important;
    border-bottom: none!important;
}

.announcement-list .card-img-modal{
    width: 70%; 
    margin: 0 auto 1rem ;
    object-fit: cover;
}