.spinner {
  width: 100px;
  height: 100px;
}

.spinner svg {
  width: 100%;
  height: 100%;
  overflow: visible;
  animation: rotation 1455ms infinite linear;
}

.spinner circle {
  stroke: #fff;
  stroke-dasharray: 44px;
  stroke-dashoffset: 11px;
  transform-origin: center;
  transform: rotatey(180deg) rotate(90deg);
  animation: spinner 3850ms infinite ease;
}

@keyframes spinner {
  0% {
    stroke-dashoffset: 33px;
    transform: rotatey(0deg) rotate(0deg);
  }
  25% {
    stroke-dashoffset: 11px;
    transform: rotatey(0deg) rotate(0deg);
  }
  25.0001% {
    stroke-dashoffset: 11px;
    transform: rotatey(180deg) rotate(270deg);
  }
  50% {
    stroke-dashoffset: 33px;
    transform: rotatey(180deg) rotate(270deg);
  }
  50.0001% {
    stroke-dashoffset: 33px;
    transform: rotatey(0deg) rotate(180deg);
  }
  75% {
    stroke-dashoffset: 11px;
    transform: rotatey(0deg) rotate(180deg);
  }
  75.0001% {
    stroke-dashoffset: 11px;
    transform: rotatey(180deg) rotate(90deg);
  }
  100% {
    stroke-dashoffset: 33px;
    transform: rotatey(180deg) rotate(90deg);
  }
}

@keyframes rotation {
  100% {
    transform: rotate(360deg);
  }
}

/* Template CSS */

/* html, body {
  height: 100%;
  font-family: sans-serif;
} */

.content {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(27,132,231);
}

.modal-pendaftaran-self{
    padding : 25px;
    position : relative;
    text-align: center;
}
.modal .modal-content{
    border-radius: 10px;
}

.modal-pendaftaran-self button{
    position: absolute;
    top: 15px;
    right: 15px;
}

.modal #pendaftaranGrandprix{
    position:initial;
}

.modal .confirm-button{
    position:initial;
}

.modal-text{
    padding-top: 20px;
}

.confirm-button{
    width:100px;
}

.loading-text{
    text-align:center;
}
.loading-text-wrapper{
    padding-top:10px;
}
