@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@200;300;400;500;600;700;800&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oxanium", cursive;
}

body {
    position: relative;
}

.header_container {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    width: 100%;
    height: 15vh;

    display: flex;
    align-items: center;

    padding-top: 25px;
    padding-bottom: 25px;

    z-index: 99;
    /* border: 1px solid red; */
}

.header_container .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_logo {
    width: 90px;
    height: 90px;
}

.logo {
    background: url("../images/logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 200px;
    height: 200px;
}

/* .logo-scrolled {
    background: url("../images/logo-mobile.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 200px;
    height: 80px;
} */

.menu a {
    margin: 0;
    margin-right: 25px;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;

    text-decoration: none;
}

.menu a:hover {
    text-decoration: none;
    color: #fff;
}

.menu button {
    background: #ed0002;
    border-radius: 5px;
    border: transparent;
    width: 100px;
    padding: 10px 20px;

    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;
    text-transform: uppercase;
}

.header_container.scrolled {
    background-color: #fff !important;
    transition: background-color 200ms linear;
}

.menu_klasemen.scrolled {
    color: #ed0002;
}
.menu_klasemen.scrolled:hover {
    color: #ed0002;
}

@media screen and (max-width: 425px) {
    .header_container {
        height: 10vh;
        padding-top: 15px;
        padding-bottom: 15px;

        /* border: 1px solid red; */
    }

    .header_logo {
        width: 60px;
        height: 60px;
    }

    .logo {
        width: 100px;
        height: 40px;
    }

    .logo-scrolled {
        width: 100px;
        height: 40px;
    }

    .menu_klasemen {
        display: none;
        border: 1px solid red;
    }

    .menu a {
        margin-right: 0;
    }

    .menu button {
        background: #ed0002;
        border-radius: 5px;
        border: transparent;
        width: 100px;
        padding: 10px;

        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        color: #ffffff;
        text-transform: uppercase;
    }
}
/* ==================== HERO ==================== */

.hero_container {
    min-height: 100vh;
    background: url("../images/hero-1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;

    display: flex;
    align-items: center;
    /* clip-path: polygon(0 0, 100% 0%, 100% 90%, 0% 100%); */
}

.hero_container h1 {
    font-weight: bold;
    font-size: 72px;
    line-height: 80px;
    color: #ffffff;
    margin: 0;
}

.hero_container h2 {
    font-weight: bold;
    font-size: 36px;
    line-height: 45px;
    color: #ed0002;
    text-transform: uppercase;
}

.hero_container h5 {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;
    width: 50%;
    margin-top: 15px;
    margin-bottom: 25px;
}

.hero_container button {
    background: #ed0002;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #ffffff;
    padding: 15px;
    border-radius: 5px;
    text-transform: uppercase;
    border: transparent;
}

@media screen and (max-width: 425px) {
    .hero_container {
        background: linear-gradient(
                90deg,
                #000000 0%,
                rgba(0, 0, 0, 0.3) 44.27%,
                rgba(0, 0, 0, 0) 100%
            ),
            url("../images/hero-mobile.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    .hero_container h1 {
        font-size: 42px;
        line-height: 52px;
        margin: 0;
    }

    .hero_container h2 {
        font-size: 24px;
        line-height: 36px;
    }

    .hero_container h5 {
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;

        width: 100%;
        margin-top: 15px;
        margin-bottom: 25px;
    }

    .hero_container button {
        font-size: 18px;
        line-height: 24px;
        padding: 15px;
        border-radius: 5px;
        border: transparent;
    }
}

/* ==================== TABLE ==================== */

.table_container {
    margin: 75px auto;
}

.table_container h2 {
    font-weight: bold;
    font-size: 36px;
    line-height: 45px;
    color: #ed0002;
    text-align: center;
    margin-bottom: 25px;
}

.table_container .hadiah_img {
    margin: 0 auto;
}

.table_container .nav-item {
    margin: 0 25px;
}

.table_container .nav-link {
    font-weight: bold;
    font-size: 36px;
    line-height: 45px;
    /* identical to box height */
    color: rgba(237, 0, 2, 0.3);
}

.table_container .nav-link.active {
    background: #ed0002 !important;
}

.table {
    margin: 25px auto;
    text-align: center;
}

.table thead {
    background: #ed0002;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #ffffff;
}

.table tbody th,
.table tbody td {
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #ed0002;
}

.table-striped > tbody > tr:nth-child(2n + 1) > td,
.table-striped > tbody > tr:nth-child(2n + 1) > th {
    background: rgba(237, 0, 2, 0.3);
}

@media screen and (max-width: 425px) {
    .table_container h2 {
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 25px;
    }
    .table_container .nav-link {
        font-size: 18px;
        line-height: 24px;
    }
    .table thead {
        font-size: 12px;
        line-height: 16px;
    }

    .table tbody th,
    .table tbody td {
        font-size: 12px;
        line-height: 16px;
    }
}

.rank_container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.rank_flex {
    border: 1px solid #ed0002;
    display: flex;
    align-items: center;
    width: 450px;
    text-align: center;

    margin: 10px 25px;
}

.rank_left {
    background: #ed0002;
    padding: 15px;
    width: 50%;

    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    color: #ffffff;
}

.rank_right {
    color: #ed0002;
    padding: 15px;
    width: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: bold;
    font-size: 18px;
    color: #ed0002;
}

.rank_right img {
    margin-top: -3px;
    margin-left: 10px;
}

.rank_notes {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 50px;
}

.rank_notes h5 {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #ed0002;
    margin: 0 10px;
}

.rank_notes img {
    width: 25px;
    height: 25px;
}

@media screen and (max-width: 425px) {
    .rank_container {
        flex-wrap: wrap;
        margin-bottom: 5px;
    }

    .rank_flex {
        border: 1px solid #ed0002;
        width: 100%;
        margin: 5px 0;
    }

    .rank_left {
        padding: 10px;
        font-size: 12px;
    }

    .rank_right {
        padding: 10px;
        font-size: 12px;
    }

    .rank_right img {
        margin-left: 5px;
    }

    .rank_notes {
        display: flex;
        justify-content: center;
        align-items: center;

        margin-top: 25px;
    }

    .rank_notes h5 {
        font-size: 12px;
        line-height: 16px;
        margin: 0 10px;
    }

    .rank_notes img {
        width: 20px;
        height: 20px;
    }
}

/* ==================== CARA BERGABUNG ==================== */
.join_container {
    background: #000000;
    padding-top: 50px;
    padding-bottom: 50px;
}

.join_container h2 {
    font-weight: bold;
    font-size: 36px;
    line-height: 45px;
    color: #ffffff;
    text-align: center;
}

.join_container img {
    width: 100%;
    margin: 50px auto;
}

.join_container button {
    background: #ed0002;
    border-radius: 5px;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #ffffff;
    padding: 10px 15px;
    border: transparent;
}

.join-mb {
    display: none;
}

@media screen and (max-width: 425px) {
    .join-mb {
        display: block;
    }
    .join-d {
        display: none;
    }
    .join_container h2 {
        font-size: 24px;
        line-height: 36px;
    }
    .join_container button {
        font-size: 18px;
        line-height: 24px;
    }
}

/* ==================== FAQ ==================== */
.faq_container {
    margin: 50px auto;
}

.faq_container .container {
    width: 50%;
}

.faq_border {
    border: 1px solid #ed0002;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 15px;
}

.faq {
    margin-bottom: 25px;
}

@media screen and (max-width: 1366px) {
    .faq_container .container {
        width: 70%;
    }
}
@media screen and (max-width: 1024px) {
    .faq_container .container {
        width: 90%;
    }
}
@media screen and (max-width: 768px) {
    .faq_container .container {
        width: 100%;
    }
}

.faq_container h2 {
    font-weight: bold;
    font-size: 36px;
    line-height: 45px;
    color: #ed0002;
    text-align: center;
    margin-bottom: 50px;
}

.question_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.question_container h5 {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #ed0002;
    margin: 0;
}

.faq_answer {
    margin-top: 25px;
}

.faq_answer h5 {
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #ed0002;
    font-weight: normal;
}

.faq_jadwal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.faq_jadwal img {
    margin: 10px 5px;
}

@media screen and (max-width: 425px) {
    .faq_container h2 {
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 50px;
    }

    .question_container h5 {
        font-size: 16px;
        line-height: 18px;
    }
    .faq_answer h5 {
        font-size: 12px;
        line-height: 16px;
    }
}

/* ==================== FOOTER ==================== */
.footer {
    /* min-height: 20vh; */
    background: #2f0000;
}

.footer_container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 50px 0;
}

.footer_container h2 {
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    color: #ffffff;
}

.footer_socmed {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.footer_socmed img {
    margin: 0 15px;
}

@media screen and (max-width: 425px) {
    .footer_container h2 {
        font-size: 18px;
        line-height: 24px;
    }

    .footer_socmed img {
        margin: 0 10px;
        width: 25px;
    }
}

/* ======================= LEADERBOARD ============================ */

.leaderboard__container {
    margin-top: 15vh;
    margin-bottom: 150px;
}

.trophy-l {
    position: absolute;
    left: 0;
    top: 750px;
    z-index: 1;
    width: 20%;
}

.trophy-r {
    position: absolute;
    right: 0;
    top: 200px;
    z-index: 1;
    width: 20%;
}

.leaderboard {
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
    /* border: 1px solid red; */
}

.leaderboard h1 {
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    text-align: center;

    color: #ed0002;
}

.join_event {
    position: absolute;
    top: 50px;
    right: 0;

    background: #ed0002;
    border-radius: 5px;
    border: transparent;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #ffffff;
    width: 200px;
    height: 45px;
}

.leaderboard_podium {
    margin: 25px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

.winner {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.winner img {
    position: relative;
    z-index: 2;
}

.winner_thumb img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: -15px;
    z-index: 1;
}

.winner_name {
    margin-top: 15px;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #ed0002;
}

.winner_likes {
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    text-align: center;

    color: #ed0002;
}

.likes {
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;

    color: #ed0002;
}

.winner-1 {
    margin: -150px 100px 0 100px;
}

.winner-1 .winner_thumb img {
    width: 135px;
    height: 135px;
}

.winner-1 .winner_name {
    font-size: 24px;
    line-height: 28px;
}

.winner-1 .winner_likes {
    font-size: 48px;
    line-height: 56px;
}

.winner-1 .likes {
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #ed0002;
}

.leaderboard_table {
    margin: 75px auto;
    position: relative;
    z-index: 2;
    overflow-x: auto;
}

.leaderboard_table table {
    /* border: 1px solid yellow; */
    width: 100%;
    background: #ffffff;
    border-radius: 5px;
}

.leaderboard_table thead {
    background: #ed0002;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;

    color: #ffffff;
    text-align: center;
}

.leaderboard_table thead th:first-child {
    border-top-left-radius: 5px;
}
.leaderboard_table thead th:last-child {
    border-top-right-radius: 5px;
}

.leaderboard_table thead tr {
    border-radius: 100px;
}

.leaderboard_table thead th {
    padding-top: 25px;
    padding-bottom: 25px;
}

.leaderboard_table tbody {
    text-align: center;
}

.leaderboard_table tbody tr td {
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 5px;
    padding-right: 5px;
}

.syarat-ketentuan {
    position: relative;
    z-index: 2;
    text-align: center;
}

.syarat-ketentuan h3 {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;

    color: #ed0002;
    margin-bottom: 25px;
}

.syarat-ketentuan img {
    min-height: 200px;
    margin-bottom: 25px;
}

.syarat-ketentuan p {
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.7);
}

.mobile {
    display: none;
}

@media only screen and (max-width: 768px) {
    .winner img {
        width: 20px;
    }

    .leaderboard h1 {
        font-size: 26px;
        line-height: 28px;
    }

    .leaderboard_podium {
        width: 100%;
        margin-top: 75px;
    }

    .trophy-l {
        position: absolute;
        left: 0;
        top: 750px;
        z-index: 1;
        width: 20%;
    }

    .trophy-r {
        position: absolute;
        right: 0;
        top: 400px;
        z-index: 1;
        width: 20%;
    }

    .winner-1 {
        margin: -75px 50px 0 50px;
    }

    .winner_thumb img {
        width: 50px;
        height: 50px;
        /* background: #c4c4c4; */
        border-radius: 50%;
        margin-top: -15px;
        z-index: 1;
    }
    .winner-1 .winner_thumb img {
        width: 75px;
        height: 75px;
    }

    .winner-1 .winner_name {
        font-size: 14px;
        line-height: 14px;
    }

    .winner-1 .winner_likes {
        font-size: 20px;
        line-height: 20px;
    }

    .winner-1 .likes {
        font-weight: normal;
        font-size: 16px;
        line-height: 18px;
        text-align: center;
        color: #ed0002;
    }

    .winner_name {
        margin-top: 15px;
        font-weight: bold;
        font-size: 12px;
        line-height: 14px;
        text-align: center;
        color: #ed0002;
    }

    .winner_likes {
        font-weight: normal;
        font-size: 16px;
        line-height: 18px;
        text-align: center;

        color: #ed0002;
    }

    .likes {
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        text-align: center;

        color: #ed0002;
    }

    .leaderboard_table tbody tr td {
        font-size: 12px;
    }

    .join_event {
        position: absolute;
        top: 10px;
        right: 0;

        border-radius: 5px;
        font-size: 12px;
        line-height: 14px;
        width: 100px;
        height: 30px;
    }

    .leaderboard_table thead th {
        font-size: 14px;
    }

    .leaderboard__container {
        margin-top: 10vh;
        margin-bottom: 0;
    }
}

/* @media screen and (max-width: 425px) {
    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }
} */

.login_container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.login {
    background: #ffffff;
    border-radius: 10px;
    width: 50%;
    border: 1px solid #c4c4c4;
    overflow: hidden;
}

@media screen and (max-width: 768px) {
    .login {
        width: 100%;
    }
}

.login_right {
    padding: 50px 25px;
}

.login_right h5 {
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    color: #2d3748;
}

.login_right h2 {
    font-weight: 600;
    font-size: 28px;
    line-height: 40px;
    color: #1a202c;
}

.login-form {
    margin: 15px auto;
}

@media screen and (max-width: 425px) {
    .login {
        padding: 25px;
    }
    .login_right {
        padding: 10px;
        width: 100%;
    }
    .login-form {
        width: 100%;
    }
}

.form-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.form_input {
    border: 1px solid #e8e8e8;
    box-sizing: border-box;
    border-radius: 5px;
    height: 40px;
}

.form_input.error {
    border: 1px solid red;
}

.alert {
    font-size: 12px;
    line-height: 16px;
}

.alert button {
    margin-top: -5px;
}

.login-form label {
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #4a5568;
}

.form_remember {
    font-weight: 600;
    font-size: 12px !important;
    line-height: 20px;
    color: #2d3748;
    margin: 0;
}

.login-form .login_btn {
    width: 100%;
    background: #ed0002;
    border: transparent;
    border-radius: 5px;
    margin-top: 0px;
    height: 40px;

    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
}

.google_btn {
    width: 100%;
}

.google_btn a:hover {
    text-decoration: none;
}

.google_btn button {
    background: #4081ec;
    border-radius: 5px;
    border: 1px solid #4081ec;
    width: 100%;
    height: 40px;

    display: flex;
    align-items: center;

    overflow: hidden;
    margin-bottom: 10px;
}

.google_btn button.facebook {
    background: #285296;
    margin-bottom: 15px;
}

.google_img {
    background: #ffffff;
    width: 50px;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.google_txt {
    width: 100%;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    color: #ffffff;
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 25px auto;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #a1a1a1;
}

.separator::before,
.separator::after {
    content: "";
    flex: 1;
    border-bottom: 0.6px solid #a2a2a2;
}

.separator:not(:empty)::before {
    margin-right: 1.25em;
}

.separator:not(:empty)::after {
    margin-left: 1.25em;
}

.to_register p {
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    color: #a1a1a1;
    margin-top: 25px;
    text-align: center;
}

.to_register a {
    color: #2c5282;
}

.reset_success {
    text-align: center;
    padding: 35px;
}

.reset_success img {
    margin-bottom: 25px;
}

.reset_success h4 {
    font-size: 28px;
    line-height: 40px;
    text-align: center;
    color: #1a202c;
    margin-bottom: 15px;
}

.reset_success p {
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #828282;
    margin-bottom: 25px;
}

.reset_success button {
    background: #ed0002;
    border-radius: 5px;
    border: transparent;
    padding: 10px;
    width: 300px;

    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    color: #ffffff;
}
